.box{
   
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
  
    justify-content: space-around;
}

.box-item1{
    display: flex;
    flex: 0 0 20%;
    height: 100vh;
    align-items: flex-start;
}

.box-item2{
    height: 100vh;
     display: flex;
    flex: 0 0 80%;
    flex-direction: column;
   
}

.box-item2-header{
    display: flex;
    flex: 0 0 15%;
    flex-direction: column;
    background-color:yellow
}
.box-item2-content{
    display: flex;
    flex: 0 0 85%;
    flex-direction: column;
    background-color: purple;
}



ul, li{
    display: flex;
    list-style:none; 
    flex-direction: column;
  
}
ul li a{
    display:flex;
  
    background-color: pink;
    border: 30px solid purple;
    text-decoration: none;
}




